body {
	font-size: 16px;
	color: #483D8B;
	background-color: #DDA0DD;
	font-family: 'Oswald', sans-serif;
}

/******** 	HEADER 	 *******/
#header-nav {
	background-color: #D8BFD8;
	border-radius: 0;
	border-bottom: 1px solid #483D8B;
	opacity: 1;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 { 
	color: #483D8B;
	font-size: 1.5em;
	font-weight: 800;
	text-shadow: .5px .5px .5px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #483D8B;
}
.navbar-header button.navbar-toggle {	
	margin: 15px;
}
.navbar-toggle {
	border-bottom: 1px solid #483D8B
}
#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
}
#nav-list a {
	background: #191970;
	border-bottom: 1px solid #483D8B;
}
#nav-list a span {
		font-size: 1.2em;
		color: white;
}
#nav-list a:hover, #nav-list a:focus {
	background-color: #483D8B;
}

/******* END HEADER ******/


/******* HOME PAGE *******/
h2, h3 {
	font-weight: bold;
}
h2 {
	margin-bottom: 20px;
}
#menu {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	padding: 15px;
	width: 100%;
	background-color: #D8BFD8;
}

/**************** Large devices only ***************/
@media (min-width: 1200px) {
/*** Header ***/
#header-nav {
	height: 80px;
}
.navbar-brand {
	padding-top: 25px;
	padding-bottom: 25px;
}
.navbar-brand h1{
	margin: auto;
	font-size: 2em;
}
}


/**************** Medium devices only *************/
@media (min-width: 992px) and (max-width: 1199px) {
/*** Header ***/
#header-nav {
	height: 80px;
}
.navbar-brand {
	padding-top: 25px;
	padding-bottom: 25px;
}
.navbar-brand h1{
	margin: auto;
	font-size: 1.8em;
}
}


/*************** Small devices only ***************/
@media (min-width: 768px) and (max-width: 991px) {
#header-nav {
	height: 70px;
}

.navbar-brand {
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar-brand h1{
	font-size: 1.6em;
}
}

/*************** Extra small devices only *******/
@media (max-width: 767px) {
.navbar-brand h1 { /* Restaurant name */
	font-size: 1.6em; 
}
}
=======
body {
	font-size: 16px;
	color: #483D8B;
	background-color: #DDA0DD;
	font-family: 'Oswald', sans-serif;
}

/******** 	HEADER 	 *******/
#header-nav {
	background-color: #D8BFD8;
	border-radius: 0;
	border-bottom: 1px solid #483D8B;
	opacity: 1;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 { 
	color: #483D8B;
	font-size: 1.5em;
	font-weight: 800;
	text-shadow: .5px .5px .5px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #483D8B;
}
.navbar-header button.navbar-toggle {	
	margin: 15px;
}
.navbar-toggle {
	border-bottom: 1px solid #483D8B
}
#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
}
#nav-list a {
	background: #191970;
	border-bottom: 1px solid #483D8B;
}
#nav-list a span {
		font-size: 1.2em;
		color: white;
}
#nav-list a:hover, #nav-list a:focus {
	background-color: #483D8B;
}

/******* END HEADER ******/


/******* HOME PAGE *******/
h2, h3 {
	font-weight: bold;
}
h2 {
	margin-bottom: 20px;
}
#menu {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	padding: 15px;
	width: 100%;
	background-color: #D8BFD8;
}

/**************** Large devices only ***************/
@media (min-width: 1200px) {
/*** Header ***/
#header-nav {
	height: 80px;
}
.navbar-brand {
	padding-top: 25px;
	padding-bottom: 25px;
}
.navbar-brand h1{
	margin: auto;
	font-size: 2em;
}
}


/**************** Medium devices only *************/
@media (min-width: 992px) and (max-width: 1199px) {
/*** Header ***/
#header-nav {
	height: 80px;
}
.navbar-brand {
	padding-top: 25px;
	padding-bottom: 25px;
}
.navbar-brand h1{
	margin: auto;
	font-size: 1.8em;
}
}


/*************** Small devices only ***************/
@media (min-width: 768px) and (max-width: 991px) {
#header-nav {
	height: 70px;
}
.navbar-brand {
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar-brand h1{
	font-size: 1.6em;
}
}

/*************** Extra small devices only *******/
@media (max-width: 767px) {
.navbar-brand h1 { /* Restaurant name */
	font-size: 1.6em; 
}
}
