.nav-container {
    @include flex(center, normal);
    @include font(14px, 700);
    line-height: 26px;
    color: $black;
    padding-top: 19px;

    .nav-item {
        margin-right: 13px;
        list-style-type: none;
        position: relative;
        &-link {
            text-decoration: none;
            color: $black;
            text-transform: uppercase;
            padding: 0 20px 20px 20px; 
        }
    }
    .nav-item-active {
        border-bottom: 3px solid $darker-pink;
    }
}

.nav-drop {
    width: 846px;
    height: 347px;
    padding-top: 21px;
    padding-left: 22px;
    padding-bottom: 20px;
    background-color: $white;
    border-radius: 5px;
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;
}
.nav-item:hover .nav-drop {
    transform: scaleY(1);
}

.drop-heading {
    @include  font(14px, 600);
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    width: 236px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 2px;
}

.drop-list {
    margin-top: 14px;
    padding: 0;
    padding-inline-start: 0;
    .drop-li {
        list-style-type: none;
        .drop-link {
            // line-height: 28px;
            letter-spacing: 0.025em;
            color: #646464;
            text-decoration: none;
            margin-top: 5px;
        }
    }
}

.nav-drop-promo {
    background-image: url(../img/megamenu.jpg);
    width: 225px;
    height: 118px;
    @include flex(flex-start, flex-start);
    padding-left: 148px;
    padding-top: 61px;
    margin-top: 19px;
    &-text {
        @include  font(22px, 900);
        // line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $white;
    }
}

.additional-margin {
    margin-top: 9px;
} 

.nav-women {
    margin-left: -85px;
}
.nav-kids {
    margin-left: -195px;
}
.nav-accessories {
    margin-left: -280px;
}
.nav-featured {
    margin-left: -425px;
}
.nav-hotdeal {
    margin-left: -549px;
}